@import url('https://fonts.googleapis.com/css?family=Akronim|Dancing+Script|Kaushan+Script|Marck+Script|Modak|Permanent+Marker|Sacramento|Shadows+Into+Light+Two|ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Anton');
html, body {
  margin: 0;
  padding: 0;
  background-image: url("lori2.jpg");
}

/* Header content */
.lori-header-section {
  background: white ;
  padding: 20px;
  margin-top: 30px;
  border-bottom: 3px solid #3498DB;
  text-transform: uppercase;
}

.row {
  display: -webkit-box;
}

.lori-header-section .transport {
  width: 50%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
}

.lori-header-section .cargo {
  width: 50%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
}

/* content*/
.lori-content {
  background: #2E86C1;
  min-height: 500px;
}
.details .transportation{
width: 50%;
margin-left: 70px;
margin-top: 40px;
}
.details .cargo-ownership{
width: 50%;
margin-left: 70px;
margin-top: 40px;
}

/* Info */
.lori-info .contacts {
  background: #CCD1D1;
  padding: 20px 20px;
}
.contacts .email{
  width: 40%
}
.contacts .site{
  width: 20%
}
.contacts .site{
  width: 40%
}

/* footer */
.lori-footer {
  padding: 5px 20px;
  text-align: center;
  background: #145A32;
  color: #fff;
}
