@import url('https://fonts.googleapis.com/css?family=Heebo');

html, body {
  margin: 0;
  padding: 0;
  background-image: url("lori2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Heebo', serif;
}

/* Header content */
.lori-header-section {
  background: white ;
  padding: 20px;
  margin-top: 30px;
  border-bottom: 3px solid #3498DB;
  text-transform: uppercase;
  opacity: 0.6;
}

.row {
  display: -webkit-box;
}

.lori-header-section {
  text-align: center;
  font-family: 'Heebo', serif;
  font-size: 22px;
  color: #159BA1;
  font-weight: 700;
}

.lori-header-section .transport {
  width: 50%;
}

.lori-header-section .cargo {
  width: 50%;
}

/* content*/
.lori-content {
  background: #2B4E64;
  min-height: 450px;
  opacity: 0.9;
  color: white;
}

i {
  text-align: left;
  font-size: 35px;
  padding-right: 10px;
  margin-right: 10px;
}

/* .details {
  padding-bottom: 20px; 
} */
.details .transportation {
  width: 35%;
  padding: 30px 20px;
}
.details .cargo-ownership {
  width: 35%;
  padding: 30px 20px ;
  /* border-left: 10px solid white; */
}

.cargo-ownership .reasons {
  padding: 30px 0px 0px 0px;
}

.icons {
  width: 20%;
  text-align: right;
}
.reasons {
  padding-top: 15px;
}

/* lori-image */
.empty {
  height: 125px;
}
.image{
  height: 200px;
  /* border-right: 4px solid white; */
  border-radius: 50%;
  border: 10px solid #1e90ff;
  background: white;
}
.empty2 {
  height: 125px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}


/* Info */
.lori-info .contacts {
  background: white;
  padding: 20px 20px;
  opacity: 0.7;
  font-weight: 600;
  color: #3498DB;;
  
}
.contacts .email {
  text-align: center;
  width: 40%;
}  
.contacts .site {
  width: 20%;
  text-align: right;
}
.contacts .phone {
  text-align: center;
  padding-right: -3px;
  width: 40%;
}
 


/* footer */
.lori-footer {
  padding: 5px 20px;
  margin: 0px;
  text-align: center;
  background: #145A32;
  color: #fff;
}
